*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
.container{
    background-color: aliceblue;
    display: grid;
    height: 900px;
    width: 900px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 5px;

}
.box{
    background-color: rgba(125, 125, 215, 0.548);
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;

}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.content1{
    grid-column: 2/4;
}
.footer{
    grid-column:1/4;
}
